
$carousel-indicator-height: 50px; 
$primary: #E0752F;
$secondary: #343434;

//ACCORDION PROPERTIES
$accordion-icon-color:  #db0f82;
$accordion-icon-active-color: #db0f82;
$accordion-icon-width: 5rem;

@import '~bootstrap/scss/bootstrap.scss';

.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  section{
    margin-top: 20px
  }
  